/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/assets/fonts/MontserratAlternates-Medium.ttf') format('truetype');
}

@theme {
  --font-montserrat: 'Montserrat Alternates', sans-serif;
  --animate-fadeIn: 'fadein 0.3s ease-in-out';
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    ,
    100% {
      opacity: 1;
    }
  }
}
@plugin "daisyui" {
  themes:
    night --default,
    dark --prefersdark,
    cupcake;
}
